* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --card-filter-bw: grayscale(1);
}

body {
  background-color: #464875;
}

.page {
  background-color: #eff1ff;
  font-size: 1.6rem;
  color: #23053a;
  font-family: 'Palanquin', sans-serif;
  font-weight: 400;
  
  max-width: clamp(38.4rem, 35rem + 60vw, 128rem);
  min-width: fit-content;
  width: 100vw;

  margin: 0 auto;
  padding: 2px;

  text-align: center;
}

header {
  text-align: center;

  background-color: #8e9aaf;

  height: 27.9rem; 
}

header img {
  width: 13.7rem;

  margin: 3.2rem auto 3.2rem;
}

header h1 {
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.05rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 4rem;
  
  background: #cbc0d3;

  width: 100%;
}


section {
  object-fit: cover;

  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  
  margin: 1px 6.3rem 6.3rem;
}

main {
  display: grid;
  gap: 3.2rem;

  margin: 0 auto 3.2rem;
  
}


.card:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
  
}

.card img {
  animation: downUp 800ms;
  
  
  height: auto;
  width: 100%;
}

.card {
  transition-timing-function: all cubic-bezier(0.075, 0.82, 0.165, 1);
  filter: var(--card-filter);

  position: relative;

  margin: 0 auto;
  width: 32rem;

  object-fit: cover;
}

.card h2 {
  position: absolute;
  top: 1.7rem;
  right: 3.9rem;

  
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #4a4e69;

  background: #feeafa;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;

  width: 11.2rem;

  animation: upDown 800ms; 
}


.mobile-hidden {
  display: none;
}

@keyframes downUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 900px) {

  main {
    grid-template-areas: "A B"
    "D B"
    "D F";
    column-width: 22rem;
    gap: 3.2rem;

    align-items: center;
  }


  .card {
    animation: downUp 800ms 900ms backwards;
  }

  .card img {
    height: 100%;
    width: auto;
    object-fit: fill;
  }

  .card:nth-child(1){
    /* PALETA */
    grid-area: A;
  }
  
  .card:nth-child(2){
    /* SHAKE */
    grid-area: B;
  }
  
  .card:nth-child(3){
    /* MASSA */
    grid-area: F;
  }
  
  .card:nth-child(4){
    /* PICOLÉ */
    grid-area: D;
  }
 
}


@media (min-width: 1340px) {
  
  .page {
    display: flex;
    gap: 9.8rem;
    /* max-width: 128.7rem; */
    height: auto;
    margin: 0 auto;
    padding: 0;

    font-size: 2.4rem;

    background-color: #ffffff;
  }


  .left {
    width: 37.7rem;
    height: auto;

    background-color: #8e9aaf;
  }

  .left section {
    width: 27.5rem;
    margin: 3.2rem auto 0;
    
    text-align: center;

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }

  .mobile-hidden {
    display: flex;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6.4rem 8.1rem 4.6rem 0;
  }

  main {
    grid-template-areas: "A B C"
    "D B E"
    "D F E";

    align-items: stretch;
  }

  .card:nth-child(5){
    /* PALETA */
    grid-area: C;
  }

  .card:nth-child(6){
    /* PICOLÉ */
    grid-area: E;
  }

  footer {
    margin-top: 5rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
  }

  footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
}
